@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';
@import '../../assets/global.scss';

.Parallax{@include sec-default();
  &.styleFull{height:660px;
  background-position: center center;
  .innerLax{padding:10% 0;}
  }
  &.true{z-index: 0; position:relative;
    &::before {@include before(); background-color: rgba($black,.3);}

    h1{color: $white; @include tshadowl(rgba($black,.5)); font-size:2.2rem;}
  }
  &.styleHd {height: 200px;
    h1{margin-top: 55px;}
  }
  &.styleHdLg {height: 300px;
    h1{margin-top: 55px;}
  }

  @include bp(tb) {
    &.styleFull{height:480px;
      .innerLax{padding:5% 0;}
    }
  }

  @include bp(tn) {
    &.styleFull{height:400px;
      .innerLax{padding:5% 0;}
    }

    &.styleHd,&.styleHdLg {height: auto;}
  }

  @include bp(md) {
    &.styleFull{height:330px;
      .innerLax{padding:2.5% 0;}
    }
    
    &.styleHd h1 {margin-top: 35px;}
  }

  @include bp(md) {
    &.styleFull{height:300px;
      .innerLax{padding:1.5% 0;}
    }
  }
}
