@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';
@import '../../assets/global.scss';

.Parallax{@include sec-default();
  &.styleFull{height:400px; padding:10% 0;}
  &.true{z-index: 0; position:relative;
    &::before {@include before(); background-color: rgba($black,.3);}

    h1{color: $white; @include tshadowl(rgba($black,.5));}
  }
  &.styleHd {height: 200px;
    h1{margin-top: 55px;}
  }
  &.styleHdLg {height: 300px;
    h1{margin-top: 55px;}
  }

  @include bp(tn) {
    &.styleHd,&.styleHdLg {height: auto;}
  }

  @include bp(md) {
    &.styleHd h1 {margin-top: 35px;}
  }
}
