@import '../../../assets/variables.scss';
@import '../../../assets/mixins.scss';
@import '../../../assets/global.scss';

.Home {
  h1.lightHd {@include tshadowl(rgba($black,.9));}
  .detsHome{@include sec-default(); text-align:center; padding:70px 0;}

  .Left, .Right {display: inline-block; width:55%;}
  .Right {width:40%; float:right;
    .MsIntro{width:200px; @include center-block();}
  }
  p.CustomP{margin:30px 0 30px;;}
}