@import '../../../assets/variables.scss';
@import '../../../assets/mixins.scss';
@import '../../../assets/global.scss';

.Home {
  h1.lightHd {@include tshadowl(rgba($black,.9));}
  .detsHome{@include sec-default(); text-align:center; padding:70px 0;}

  .serviceRow{@include sec-default(); text-align:center;}
  // .ServiceBox{ display: inline-block; width:25%;}

  .ServiceBox {display:inline-block; width: 21%; margin: 10px 1%; padding: 60px 5px 0; 
    height:200px;background-size: cover; position: relative; z-index: 0;
    color:$white; font-weight: $semi; @include tshadowl(rgba($black,.5)); font-size:25px;letter-spacing: .4px;

    &::before{@include before();background-color: rgba($black, .5);}
    &::after{@include after(); border:2px solid $white; width:85%; height: 85%; margin-left:7.5%; bottom: 7.5%;}
    &:first-child{margin-left: 0;}
    &:last-child{margin-right: 0;}

    &.Box1{background-image: url(../../../assets/images/foley1.jpg);}
    &.Box2{background-image: url(../../../assets/images/foley4.jpg);}
    &.Box3{background-image: url(../../../assets/images/foley7.jpg);}
    &.Box4{background-image: url(../../../assets/images/foley8.jpg);}
  }

}