@import '../../../assets/variables.scss';
@import '../../../assets/mixins.scss';
@import '../../../assets/global.scss';

.Home {
  h1.lightHd {@include tshadowl(rgba($black,.9));}
  .detsHome{@include sec-default(); text-align:center; padding:70px 0;}
  p.Xnrw{width:90%; @include center-block();}

  .Left, .Right {display: inline-block; width:55%;}
  .Right {width:40%; float:right;
    .MsIntro{width:200px; @include center-block();}
  }
  p.CustomP{margin:30px 0 30px;}
}

.photo4{@include sec-default(); text-align:center; margin:40px 0;}

.ServiceBox {display:inline-block; 
  // width: 40%; margin: 15px 2%;
  position: relative; z-index: 0;
  // width:30%; margin:15px 1%; height:280px; overflow: hidden;
  // .PhotoBox{width:90%; float:right;}

  width:33%; margin:15px 0; vertical-align: top;
  .PhotoBox{border: 5px solid $white;}
  
  a{font-weight: bold; @include tshadowl(rgba($black,.5));
    font-family: $sign;font-size: 40px; letter-spacing: 2px;
    // position:absolute; left:0;
  }  
  a.Plink {font-family: $monte; font-size:16px; text-shadow:none; letter-spacing: .2px;}
}

.JoinRow{@include sec-default(); text-align:center; padding:70px 0 80px;
  @include sec-bgimage('../../../assets/images/dogPark2.jpg'); 
  background-position:center center;
  position: relative; z-index: 0;
  &::before{@include before(); background-color: rgba($msCream, 1);}
  p.CustomP{margin: 7px 0 30px;}
}

.MsSec{@include sec-default(); padding: 50px 0; background-color :$white;}
.ImageRow{@include sec-default(); 
  padding:60px 0; 
  @include sec-bgimage('../../../assets/images/MapBW.png'); 
  background-position:center bottom;
  position: relative; z-index: 0;
  &::before{@include before(); background-color: rgba($msLt, .93);}

  .Text, .Images {display: inline-block; width:35%;}
  .Images {float:right; width:62%;}
  .Text{margin-top:5%;}
  .MapPhoto{width:35%; box-shadow:0px 2px 2px rgba($black,.2);}
  .MapPhoto.Photo1{width:75%;}
  .MapPhoto.Photo2{margin-left:-10%;}
  
  // .One, .Two {display: inline-block; width:49.5%; @include sec-bgimage2(); height:400px; }
  // .Two{float:right;
  //   @include sec-bgimage('../../../assets/images/mapSS.png');
  // }
  // iframe{width:100%; height:500px;}
}
