# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json

/src/foley-map2.pdf
/src/foley-walking-map.pdf
/src/FoleyFwdPlan_190320.pdf
/src/Mkt-Snapshot2019.pdf
/src/Mkt-Exec-Summary.pdf
/src/MainStreetDist.pdf
/src/wLaurel200.pdf
/src/wLaurel309.pdf
/src/sAlston222.pdf
/src/COVIDTips.pdf