@import '../../assets/global.scss';
@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

.Content {@include sec-default();
  padding:0px 0 50px;
  // justify-content: center;
  background-color: $msLt; 
  // box-shadow:0px 5px 8px rgba($black,.1);
  box-shadow: 0 1px 33px rgba(26,37,46,0.1), inset 0 1px 0 rgba(255,255,255,0.35)
}
