@import '../../assets/global.scss';
@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

// HEADER
.Header,.HeaderDiv, ul.Navbar-nav {@include sec-default(); text-align: center; }
.Header {text-align: center; background-color: $white;

  .HeaderDiv{background-color: $white; border-bottom: $border; }
  // box-shadow: 0px 2px 2px rgba($black,.1); box-shadow: 0 1px 33px rgba(26,37,46,0.1), inset 0 1px 0 rgba(255,255,255,0.35);
  .LogoHd, nav { display: inline-block; float:none;}
  nav{min-width:70%; float:right;}
  .LogoHd {width:20%; padding:10px 0 15px; margin-left: 7%;}
  
  .ocNavBtn {display: none;}
  .custNav {@include sec-default();
    li {display:inline-block; float: none; margin: 40px 1% 0;}
    li a {color: $black; font-size:16px; text-transform: none;font-family:$monte;}
    li li a {font-size:15px;}
  }

  .mobileMenu {width:375px;
    .mobNav a {color: $white;}
  }

  &.StickyUk, &.activeClass, &.Top{
    text-align: center;
  }

  &.noSticky, &.noMobile{opacity: .9;}

  @include bp(tb) {
    position: relative;
    .navbarWrap {display:none;}
    .ocNavBtn {display: block; float:right; width:35px; position: absolute; z-index:5; top:60px; right:8.5%; 
      span{@include sec-default(); height:2px; margin-bottom: 5px; background-color: $black;}
    }
    .LogoHd {width:240px; padding: 10px 0; @include center-block();}

    .mobileMenu .mobNav {
      li {width:100%; margin: 10px 0;}
      li a {font-size:15px;}
      li li a {font-size:15px;}
    }
  }

  @include bp(tn) {
    &.uk-sticky.uk-sticky-fixed.uk-navbar-sticky {
      // position: relative !important;
      .LogoHd {width:150px;}
    }
  }
}