@import '../../../assets/global.scss';
@import '../../../assets/variables.scss';
@import '../../../assets/mixins.scss';

.sbdc,.updatesPage {@include sec-default(); padding-bottom: 30px; 
  .uhead {@include sec-default(); margin-bottom:30px; text-align: center; padding:30px 0;background-color: $msCream;}
  h1 {font-size:2rem; line-height: 1.2em; margin:0; font-weight: bold;
    span{font-size: 1.2rem; font-weight: normal;}
  }
  
  .updatesBody, .ubBlock, .sbdcAcc {@include sec-default();}
  .custContent{padding-left:20px;}
  .AccTitle{font-weight: bold; margin: 0 0;color: $msGreen; padding:0; font-size: 1.4rem; text-align: left;}
  h4{margin:0 0 8px; font-size:1.1rem; font-weight: 500;}
  ul.innerUL { padding-left: 20px; margin-bottom: 20px;}
  li {list-style-type: disc;margin-bottom: 7px;}
  a{color: $msGreen; font-weight: 500;}
  img{width:180px; margin-bottom: 20px;}
  
  @include bp(tb) {
    h1 {font-size:1.6rem;
      span{font-size:1.1rem;}
    }
    .AccTitle{font-size: 1.2rem;}
    h4{font-size: 1rem;}
  }
  
  @include bp(tn) {
    h1 {font-size:1.4rem;
      span{font-size:1rem;}
    }
    li{font-size: 15px;}
    .AccTitle{font-size: 1.1rem;}
    h4{font-size: 1rem;}
  }
  
  @include bp(oc) {
    h1 {font-size:1.2rem;}
    .med2Def{width:92%;}
    .AccTitle{font-size: 1rem;}
    h4{font-size: .93rem;}
    .custContent{padding-left:5px;}
  }
}

.updatesPage { text-align: center; 
  .covLinks{font-weight: bold; text-shadow: 0px 1px 1px rgba($black, .1); font-size:1.2rem;
    @include sec-default(); margin:8px 0;
    // width:30%; display: inline-block; margin:14px auto;

  }
  
  @include bp(tn) {
    .covLinks{font-size: 1.1rem;}
  }
}