@import './assets/global.scss';
@import './assets/variables.scss';
@import './assets/mixins.scss';


.BuslistingsListLoader, .BuslistingDetails, .BuslistingDetailsLoader, .BuslistingsList {
  @include sec-default();
  color:$black;
  min-height:500px;  padding:80px;
}

.BackTo {color: $black;}