@import './assets/global.scss';
@import './assets/variables.scss';
@import './assets/mixins.scss';

.BackTo {color: $black;}

.CalNot{display: none;}
.Cal{@include sec-default(); padding:20px 0 40px;
  @include bp(oc) {
    padding:10px 0 20px;
  }
}

.NewsList{@include sec-default(); }
.NewsNot{display: none;}
.News{@include sec-default(); padding:20px 0;
  .PostCats{@include sec-default(); margin-bottom:50px; padding-bottom: 15px; border-bottom: 1px solid rgba($black, .1);}
  h2, p, a{font-family: $monte;}
  h2{font-size:18px;margin-bottom: 0px;
    a{color:$msGreen; font-weight:500;}
  }
  p{margin:0 0 5px; color:$black; font-size:16px;
    a{color:$black;}
  }
  img{margin:10px 0;}
  
  h1{font-size:1.4rem; color: $msGreen; margin:0 0 5px;}


  @include bp(tb) {
    h2{font-size:17px;}
    p{font-size:15px;}
  }
  
  @include bp(tn) {
    h2{font-size:16px;}
    p{font-size:14px;}
  }
}

.ToTopBtn{background-color: $white; margin-right:-15px;}