@font-face {
    font-family: 'SignPainter HouseScript';
    src: url('./assets/fonts/SignPainterHouseScript.eot');
    src: url('./assets/fonts/SignPainterHouseScript.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/SignPainterHouseScript.woff2') format('woff2'),
        url('./assets/fonts/SignPainterHouseScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

