@import '../../../assets/global.scss';
@import '../../../assets/variables.scss';
@import '../../../assets/mixins.scss';

.relTitle {@include sec-default(); padding:70px 0 0px;
  // margin-top:50px;
  text-align: center;
  position: relative; z-index: 0;  
  &::before{@include before(); background-color: $msGreen; height:75%;}
  &.BgAlt::before{background-color:$dark; height:45%;}

  .imgCenter{width:80%; @include center-block();}
  .TextBox {@include sec-default(); padding:60px 0 30px;}
  h2{font-size:2rem; margin: 0; font-family: $gochi; color: $white; font-weight: bold; text-align: center; @include tshadowl(rgba($black,.5)); line-height:1em;}
  h1{margin-top:0; color: $white; font-size:2.3rem; margin-bottom: 10px; font-family: $monte; letter-spacing:1px; font-weight:bold; text-transform: uppercase}

  &.BgNone{padding:0 0 30px;
    &::before{display:none;}
    .imgCenter{width:75%;}
    .TextBox {padding:40px 0 0px;}
  }

  @include bp(tb) {
    padding:55px 0 0px;
    h1 {font-size:2rem;}
  }

  @include bp(tn) {
    padding:40px 0 0px;
    h1 {font-size:1.7rem;}
  }

   @include bp(oc) {
    padding:20px 0 0px;
    h1 {font-size:1.3rem;}
  }

  @include bp(sm) {
    h1 {font-size:1rem;}
  }
}

.aboutPage, .boardPage,.abBody,.ContactBody{@include sec-default(); }

.boardPage {
  .relTitle{
    &::before {background-color: rgba($msGreen, .96);}
    &::after{ @include before(); height:75%; z-index: -2;
      @include sec-bgimage('../../../assets/images/gadsBW2.jpg'); background-position: bottom right;
    }
  }
  h1{ color:$white; text-align:center; @include tshadowl(rgba($black,.4));}
  .boardBody{@include sec-default(); text-align: center; margin-top:30px; position:relative; background-color: $msLt;}
  
  h3{padding-bottom:5px; border-bottom:$border; margin-bottom: 20px; font-weight:bold;
    color: $msGreen; font-size:35px; letter-spacing: 2px; font-family: $sign;
  }

  .members{@include sec-default();
    li{display: inline-block; width:33%; float:none; vertical-align: top;}
  }

  li, a{margin-bottom: 40px; font-size: 18px; font-weight:$semi; line-height: 1.2em;
    span {font-size:14px; color: $msRed; color:rgb(105, 105, 105); font-weight:normal; font-style: italic;}
    b{font-size:16px;}
  }

  .OfficerBox {@include sec-default(); padding:20px 0; background-color: $msGreen; text-align:center;margin: 40px 0;
    h3{border-color: rgba($msCream,.25); color:$white; @include tshadowl(rgba($black,.35));}
    .officers {@include sec-default(); }
    li{display: inline-block; float:none; vertical-align: top; width:24%; line-height:1.3em;}
    li, a{ font-size: 18px; color:$white;@include tshadowl(rgba($black,.25));
      span {color:$white;}
    }
  }

  @include bp(tb) {
    .boardBody{margin-top:15px; }
    h3{font-size:28px;}   
    li, a{ font-size: 16px; line-height: 1.5em;} 
    .intro p{font-size:16px;}

    .OfficerBox{margin:10px 0 25px; padding:20px 0 10px;
      li{width: 40%; margin:7px auto 20px;}
      li, a{ font-size: 15px; }
    }
  }

  @include bp(tn) {
    .boardBody{margin:12px 0 0; }
    h3{font-size:24px;}   
    li, a{ font-size: 15px; }
    .intro p{font-size:15px;}

    .OfficerBox{margin:0px 0 25px; padding:10px 0 5px;
      li{width: 40%; margin:7px auto 20px;}
    }
  }

  @include bp(mb) {
    .boardBody{margin:12px 0 0; }
    h3{font-size:22px;}   

    .OfficerBox{
      li{@include sec-default();margin:0px 0 20px;}
    }

    .members li{ @include sec-default(); margin:0 0 20px;}
  }

  @include bp(sm) {
   .imgCenter{width:90%;}
    h3{margin-bottom:7px;letter-spacing: 1px;}
    .OfficerBox {margin-bottom: 10px;}
  }
}


.ImgRow {@include sec-default(); padding:80px 0; background-color: #f5f5f5;
  .SlideSize{ display:inline-block; padding-left:20px;
    img{height:460px;}
  }
  &.noBg{background-color: transparent; padding:0px 0 0px;}
}

.TextRow {@include sec-default(); margin-bottom: 30px;
  p{display: inline-block; position:relative;
    width:44%; text-align: justify;
    // width:49%; text-align: left;
  }
  p.Uno{float:left;
    &::before {@include before(); width:1px; left:112%; height:105%; margin-top:-2.5%; background-color: $black;}
  }
  p.Dos{float:right;}
}

.ContactBody{
  padding:100px 0; 
  position: relative; z-index: 0; 
  @include sec-bgimage('../../../assets/images/gadsBW2.jpg'); background-size:cover; background-position: bottom right;
  // &::before{ @include before(); background-color:$white; height:80%; margin-top: 5%; width:65%; left:35%;}
  &::before{ @include before(); background-color:rgba($msGreen,.92); z-index:-2;}
  &::after{ @include before(); background-color:$white; height:80%; margin-top: 5%; width:65%; left:35%;}

  .info {width: 85%;float: right; 
    h1{font-size:1.6rem; margin-bottom:13px; font-weight:$semi; letter-spacing: .8px;}
    .textSide,.infoImg{display: inline-block;}
    .textSide{width:50%; float: right; padding-right:15px;}
    .infoImg{width:54%; margin-left:-12%; vertical-align:top;
      &.MobileImg{display: none;}
    }
    .ContInfo {margin-top:8%;}

    p.ConInfo {margin-bottom:15px;}
    .ContBorder{width:80px; height:2px; background-color:$msGreen; margin-bottom:20px;}
  }

  @include bp(dt) {
    .info {width: 972px;
      .ContInfo {margin-top:10%;}
    }
  }

  @include bp(tb) {
    padding:80px 0;
    &::after{ height:85%; margin-top: 5%; width:80%; left:20%;}
    .info{width:90%; @include center-block();
      h1{font-size:1.45rem;}
      .textSide{width:48%; padding-right:0px;}
      .infoImg{width:48%; margin-left:0;}
      p{font-size:15px;}
      p.ConInfo br {display: none;}

      .infoImg{
        &.FullImg{display: none;}
        &.MobileImg{display:block;}
      }
    }
  }

  @include bp(tn) {
    padding:60px 0;
    &::after{height:60%; margin-top: 3%; width:85%; left:5%;}
    .info{
      h1{font-size:1.3rem;}
      .textSide{width:85%;@include center-block();}
      .infoImg{width:52%;float:right; margin-top:-19%;}
      .ContInfo {margin-top:0;}
      p.ConInfo br {display: block;}
    }
  }

  @include bp(mb) {
    padding:30px 0;
    &::before{background-color:rgba($cream,.95);}
    &::after{display:none;}
    .info{text-align: center;
      .textSide{width:90%;}
      .infoImg.MobileImg{display:none;}
      p.ConInfo br {display: none;}
      .ContBorder{@include center-block();}
    }
  }
}

.Exec {@include sec-default(); text-align:left; margin-top:30px;padding-top:30px;
  position: relative; z-index: 0;  
  &::before{@include before(); background-color: $msGreen; height:190px;}
  h3{color:$white; border-bottom:0;margin-bottom:35px;}

  @include bp(tb) {
    &::before{height:126px;}
  }

  @include bp(tn) {
    padding-top: 10px; margin-top:10px;
    h3{color: $msGreen; letter-spacing: .5px;}
    p{margin-top:0;}
  }
}

.aboutPage {
  .intro p {font-size:17px;}
  .fullRow.Sec1, .fullRow.Sec2{padding:20px 0 0px; text-align:center;}
  .fullRow.Sec2 {padding:30px 0 25px;
    p {width:90%; @include center-block();}
  }
  .msLink{font-size:14px;}

  .uk-position-center-left.uk-position-small,
  .uk-position-center-right.uk-position-small,
  .ArrowRules{z-index:9999; background-color: rgba($black,.5); color:$white;
    span{font-size:30px;}
  }

  @include bp(tb) {
    .fullRow.Sec1 {padding:0;}
    .TextRow {margin-bottom:10px;}
    .ImgRow.SlideAlt {padding:50px 0;}
    .relTitle.BgNone {padding-bottom:20px;
      .TextBox {padding:30px 0 0px;}
    }
    .fullRow.Sec2 {padding:15px 0 5px;}
  }

  @include bp(tn) {
    .intro p {font-size:16px;}
    
    .TextRow {
      p{width:48%; text-align: left;}
      p.Uno::before {display:none; }
    }

    .ImgRow.SlideAlt {padding:25px 0;
      .SlideSize img{height:300px;}
    }
  }

  @include bp(md) {
    .insideNrw{width:95%;}
    .intro {
      p{margin-bottom: 0;}
    }
    .TextRow {
      p{@include center-block(); width:90%;}
    }
  }

  @include bp(oc) {
    h1{margin-bottom: 5px;}
    .intro p {font-size:15px;
      br {display: none;}
    }
    .TextRow p{width:97%; text-align: center;}

    .relTitle.BgNone {padding-bottom:10px;
      .TextBox {padding:15px 0 0px;}
    }

    .ImgRow.noBg .insideAlt{width:90%;}
  }

  @include bp(sm) {
    // .ImgRow.SlideAlt .SlideSize img{height:330px;}
  }
}


.PressReleasePage {
  .Exec {@include sec-default(); text-align:left; margin-top:0px;padding-top:0px;
    position: relative; z-index: 0;  
    &::before{@include before(); background-color: $msGreen; height:160px;}
    h1{color:$white; border-bottom:0;margin-bottom:35px; font-size: 1.6rem; letter-spacing: .5px; font-weight:500; text-shadow: 0px 1px 1px rgba($black, .1);}
    h1.h1Sm{display: none;}
    h4{font-weight: bold; margin:50px 0 10px; font-size:16.5px;}
    
    .fullRelease{@include sec-default(); margin-top:-25px;}
    
    @media screen and (max-width:1110px) {
      &::before{height:180px;}
    }
    
    @include bp(tb) {
      &::before{height:120px;}
      h1.h1Sm{display: block; text-align: center; margin:30px 0 0;}
      h1.h1Lg{display: none;}
      h4{margin-top:15px;}
    }

    @include bp(tn) {
      padding-top: 10px;
      p{margin-top:0;}
    }
  }
}