@import '../../assets/global.scss';
@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

.Accordion {@include center-block(); width:50%;
  li {@include sec-default(); margin-top: 15px; text-align:left;}
  button {background-image:none; background:transparent; border:none;}
}
.custContent{padding-left: 20px;}

.FooterAcc{@include sec-default();
  .AccTitle{font-size:25px; font-weight: bold; font-family: $sign; letter-spacing: 1px; }
  .custContent{padding-top: 0px; margin-top:0;}
  p{margin-top:0;}
  li{margin:0;}
}