@import '../../../assets/global.scss';
@import '../../../assets/variables.scss';
@import '../../../assets/mixins.scss';

.listingsPage{@include sec-default();
  position: relative; z-index: 0;
  &::before{@include before(); height:130px; 
    background-color: rgba($msCream, .7);
    // background-color: rgba($msGreen, .8);
  }
  
  .intro {margin:30px 0 50px;
    h1{font-size:1.6rem; letter-spacing:.6px; margin-bottom:10px; font-weight:$semi; color:$msGreen; text-shadow: 0px 1px 1px rgba($black,.1);}
    p{font-size:16px;}
  }
  .intText, .imgRel {display: inline-block; width:46%; position: relative;}
  .imgRel{float:left; width:48%; margin-left:2%;}
  .intText {text-align:left;margin-top:12%; float:right;
  }

  .realList{@include sec-default(); 
    position: relative; z-index: 0; padding: 75px 0 50px;
    
    background-image: url(../../../assets/images/foley1.jpg); 
    background-size:35%; background-position: right bottom; background-repeat: no-repeat;
    &::before{@include before(); width:35%; margin-left:65%;
      background-color: rgba($msCream, .94);
      // background-color: rgba($msGreen, .94);
    }

    .realItem, .FoButtons{display: inline-block;}
    .realItem{
      // width:35%; margin-left:2%;
      width:28%; margin-left:1%;
      margin-bottom:40px; background-color: $white; text-align:center;
      box-shadow: 0px 5px 8px rgba($black,.15); 
      .realTitle{padding: 20px 10px; color:$black; font-size:17px;
        span {font-size: 15px; font-weight:bold; color:$msGreen;}
      }
      a:hover .realTitle{opacity:.6;}
    }
  }

  @include bp(tb) {
    &::before{height:90px; }
    .intro {margin:20px 0 45px;
      h1{font-size:1.4rem;}
      p{font-size:15px;}
    }
    .intText {margin-top:8%; width:48%;}
    .imgRel {width:46%;}

    .realList {padding: 55px 0 35px;
      .realItem{width:30%; margin-left:1%;
        .realTitle{font-size:16px;}
        .realTitle span{font-size:14px;}
      }
    }
  }

   @include bp(br) {
    .realList { background-image:none;
      .realItem{width:42%; margin-left:5%;
        .realTitle{font-size:16px;}
        .realTitle span{font-size:14px;}
      }
    }
  }

  @include bp(tn) {
    &::before{height:70px; }
    .intro {margin:20px 0 30px;
      h1{font-size:1.2rem;}
    }
    .intText {margin-top:7%; width:53%; margin-right:1%; }
    .imgRel {width:40%; }

    .realList .realTitle {font-size: 15px;}
  }

  @include bp(pl) {
    &::before{height:10px; }
    .intro{margin:20px 0;}
    .intText {width:80%; text-align: center; @include center-block(); margin-top:0;}
    .imgRel {display:none;}
  }

  @include bp(oc) {
    .intText {width:97%;}

    .realList { 
      .realItem{width:290px; @include center-block();
      }
    }
  }
}